.listTableHide{
    display: none;
}

.reqDocSubmitBtn{
	float:right;
}

.docDetails{
    font-size:small;
    min-height:0rem !important;
    padding:0 !important;
}

.FileHBox{
    width: 100%;
}

.FileHBox > div:nth-child(3),.FileHBox > div:nth-child(4){
    float: right;
}

.WarningIcon{
   font-size:1rem;
   width:2rem;
   margin-top:0.5rem;
}

.objectStatusContainer.sapMObjStatus, .docQuestionLabel, .questionLabel{
	  white-space: normal;
	  word-break: break-word;
}

.readOnlyDate .sapMInputValHelp{
	display: none;
}

.readOnlyDate input{
	border: 0;
}

.numberNotBold>.sapMObjectNumberText{
	    font-weight: normal;
}

.genralForm .sapUiFormResGridCont{
	padding:0;
}
.noBottomMarginGrid>div{ 
	 margin-bottom:0 !important;
}

/* Start of docuement lauout FIX */
.editDoc form {
    float: right;
}

.docDetailsHidden{
	visibility: hidden;
}

.questionLayoutContainer .sapUiRespGridSpanL4, .questionLayoutContainer .sapUiRespGridSpanM4 {
    clear: both;
}

.noBoderBottom .sapMListNoData {
	border-bottom: 0 none;
}

.noDataTextLabel{
	font-size: 1rem;
}

.numberBigBold>.sapMObjectNumberText{
	    
	    font-size: 1.25rem;
}

.numberSmallBold>.sapMObjectNumberText{
	    
	    font-size: 0.875rem;
}

.documentNameLink.sapMLnk{
	white-space: normal;
    word-break: break-word;
    height: auto;
    padding-top: 1rem;
    line-height: 1rem;
}

/* End of docuement lauout FIX */